@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
body{
  font-family: 'roboto';
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
  display: inline;
  margin-right: 50px;
  
}
a {
  text-decoration: none;
  color: #201F1F;
}

.header{
  position: fixed;
  top: 0;
  left: 0;
  height: 80px;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  box-shadow: 0.4em 0.4em 5px rgba(122,122,122,0.5);
  background-color: #fff;
  z-index: 1000;
}

.header ul{
  font-size: 1.1vw;
}
.footer{
  bottom: 0;
  height: 80px;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  font-size: 12px;
  padding: 0px;
}

.site_title{
  margin-left: 35px;
  font-family: 'roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 2vw;
  line-height: 56px;
  color: #201F1F;
}

.wrapper{
  max-width: 1240px;
  margin: 0 auto;
  text-align: center;
  
}
.main_hello{
  font-weight: 700;
  font-size: 48px;
  line-height: 56px;
  letter-spacing: 0.05em;
  color: #201F1F;
  margin-bottom: 90px;
  margin-top: 200px;
}
.main_intro{
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 38px;
  color: #201F1F;
  white-space: pre-line;
}

/* Шаги */

.steps_wrapper{
  display: flex;
  flex-direction: column;
}
.step_num_left{
  position: absolute;
  display: inline-block;
  font-size: 48px;
  padding: 0 20px;
  margin-left: 150px;
	background: rgba(249, 196, 0, 0.5);
  border-radius: 40px;
  
}
.step_num_right{
  display: inline-block;
  font-size: 48px;
  position: absolute;
  padding: 0 20px;
  margin-right: 200px;
	background: rgba(249, 196, 0, 0.5);
  border-radius: 40px;
  
  
}
.step_right{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.step_left{
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}


.first_step, .second_step, .third_step, .fourth_step, .fifth_step, .sixth_step, .seventh_step, .eighth_step, .nineth_step{
  width: 50vw;
  margin: 0 30px;
}
.second_step{
  margin-left: -30px;
}
.fourth_step, .sixth_step, .eighth_step {
  margin-left: -60px;
}

.step_desc{
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 38px;
  color: #201F1F;
  white-space: pre-line;
  text-align: left;
  margin-top: 150px;
}

/* О сайте */
.about{
  margin-top: 120px;
  display: flex;
  flex-direction: row-reverse;
}
.about_site_text{
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 38px;
  color: #201F1F;
  white-space: pre-line;
}
.about_site_img{
  width: 50vw;
}
.title_about_site{
  margin-top: 100px;
  font-weight: 700;
  font-size: 48px;
  line-height: 56px;
  letter-spacing: 0.05em;
  color: #201F1F;
  margin-bottom: 90px;
}

/* Грамматика */

.grammar{
  background: url('../images/grammar_bg.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}

.grammar_title{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.grammar_title_h1{
  font-style: normal;
  font-weight: 700;
  font-size: 90px;
  line-height: 105px;
  color: #201F1F;
  margin-top: 200px;
  margin-left: 100px;
  font-size: 5vw;
}
.title_img{
  margin-top: 100px;
  width: 10vw;
}

/* Раскрывающийся блок */

.content {
  transition: max-height 0.2s;
  overflow: hidden;
  background-color: #dfdddd;
  white-space: pre-line;
  line-height: 50px; 
  text-align: left;
  margin: 0 auto;

}
.content img{
  width: 100%;
  margin-bottom: 10vh;
}
.content[aria-hidden="true"] {
  max-height: 0;
}
.content[aria-hidden="false"] {
  max-height: var(--containerHeight, 1000px);
  max-width: 75vw;
  
}
.container_text{
  margin-left: 100px;
  font-size: 24px;
}
.trigger{
  font-size: 40px;
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 0 30px;
  width: 50vw;
}
.trigger:hover{
  background: rgba(64, 24, 24, 0.5);
}

/* Тренажёр */

.quiz{
  background: url('../images/quiz_bg.svg');
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: 1200px 1000px;
}

.quiz_preview{
  font-size: 5vw;
  margin-top: 8rem;
}
.quiz_display{
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  font-size: 2rem;
  width: 50vw;
}

/* Карточки квизов */

.effects  {
  position: relative;
  display: inline-block;
  border:1px solid #4e4c4c;
  background-color: #fff;
  margin: 20px;
  border: 5px solid #fff;
  overflow: hidden;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  max-height: 250px;
  clip-path: circle(90px at 50% 50%);
 }
 
 .effects  img {
  display: block;
  position: relative;
  max-width:20vw;
  height:20vh;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: none;
  
 }
 
 .effects  div {
  width: calc(100% - 20px);
  height: 100%;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  padding: 10px;
  text-align: center;
  clip-path: circle(100px at 50% 50%);
 }
 

 .effects h2{
   margin-top: 5vh;
 }
 
 
 .effects div {
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.35);
  transition: all 0.4s ease-in-out;
  color: #000;
 }
 
 .effects img {
  transition: all 0.5s linear;
  
 }
 
 .effects:hover img {
  transform: scaleY(1);
  transition: all .7s ease-in-out;
  opacity: 0;
 
 }
 
 .effects:hover div {
  opacity: 1;
  background-color: rgba(255, 231, 179, 0.9);
  cursor: pointer;
  
 }






::selection{
  color: #fff;
  background: #007bff;
}
.start_btn,
.info_box,
.quiz_box,
.result_box{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 
              0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.info_box.activeInfo,
.quiz_box.activeQuiz,
.result_box.activeResult{
  opacity: 1;
  z-index: 5;
  pointer-events: auto;
  transform: translate(-50%, -50%) scale(1);
}
.start_btn button{
  font-size: 25px;
  font-weight: 500;
  color: #007bff;
  padding: 15px 30px;
  outline: none;
  border: none;
  border-radius: 5px;
  background: #fff;
  cursor: pointer;
}
.info_box{
  width: 540px;
  background: #fff;
  border-radius: 5px;
  transform: translate(-50%, -50%) scale(0.9);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s ease;
}
.info_box .info-title{
  height: 60px;
  width: 89%;
  border-bottom: 1px solid lightgrey;
  display: flex;
  align-items: center;
  padding: 0 30px;
  border-radius: 5px 5px 0 0;
  font-size: 20px;
  font-weight: 600;
}
.info_box .info-list{
  padding: 15px 30px;
}
.info_box .info-list .info{
  margin: 5px 0;
  font-size: 17px;
}
.info_box .info-list .info span{
  font-weight: 600;
  color: #007bff;
}
.info_box .buttons{
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0 30px;
  border-top: 1px solid lightgrey;
}
.info_box .buttons button{
  margin: 0 5px;
  height: 40px;
  width: 100px;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  border: none;
  outline: none;
  border-radius: 5px;
  border: 1px solid #007bff;
  transition: all 0.3s ease;
}
.quiz_box{
  width: 550px;
  background: #fff;
  border-radius: 5px;
  transform: translate(-50%, -50%) scale(0.9);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s ease;
}
.quiz_box header{
  position: relative;
  z-index: 2;
  height: 70px;
  padding: 0 30px;
  background: #fff;
  border-radius: 5px 5px 0 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0px 3px 5px 1px rgba(0,0,0,0.1);
}
.quiz_box header .title{
  font-size: 20px;
  font-weight: 600;
}
.quiz_box header .timer{
  color: #004085;
  background: #cce5ff;
  border: 1px solid #b8daff;
  height: 45px;
  padding: 0 8px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 145px;
}
.quiz_box header .timer .time_left_txt{
  font-weight: 400;
  font-size: 17px;
  user-select: none;
}
.quiz_box header .timer .timer_sec{
  font-size: 18px;
  font-weight: 500;
  height: 30px;
  width: 45px;
  color: #fff;
  border-radius: 5px;
  line-height: 30px;
  text-align: center;
  background: #343a40;
  border: 1px solid #343a40;
  user-select: none;
}
.quiz_box header .time_line{
  position: absolute;
  bottom: 0px;
  left: 0px;
  height: 3px;
  background: #007bff;
}
section{
  padding: 25px 30px 20px 30px;
  background: #fff;
}
section .que_text{
  font-size: 25px;
  font-weight: 600;
}
section .option_list{
  padding: 20px 0px;
  display: block;   
}
section .option_list .option{
  background: aliceblue;
  border: 1px solid #84c5fe;
  border-radius: 5px;
  padding: 8px 15px;
  font-size: 17px;
  margin-bottom: 15px;
  cursor: pointer;
  transition: all 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
section .option_list .option:last-child{
  margin-bottom: 0px;
}
section .option_list .option:hover{
  color: #004085;
  background: #cce5ff;
  border: 1px solid #b8daff;
}
section .option_list .option.correct{
  color: #155724;
  background: #d4edda;
  border: 1px solid #c3e6cb;
}
section .option_list .option.incorrect{
  color: #721c24;
  background: #f8d7da;
  border: 1px solid #f5c6cb;
}
section .option_list .option.disabled{
  pointer-events: none;
}
section .option_list .option .icon{
  height: 26px;
  width: 26px;
  border: 2px solid transparent;
  border-radius: 50%;
  text-align: center;
  font-size: 13px;
  pointer-events: none;
  transition: all 0.3s ease;
  line-height: 24px;
}
.option_list .option .icon.tick{
  color: #23903c;
  border-color: #23903c;
  background: #d4edda;
}
.option_list .option .icon.cross{
  color: #a42834;
  background: #f8d7da;
  border-color: #a42834;
}
footer{
  height: 60px;
  padding: 0 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid lightgrey;
}
footer .total_que span{
  display: flex;
  user-select: none;
}
footer .total_que span p{
  font-weight: 500;
  padding: 0 5px;
}
footer .total_que span p:first-child{
  padding-left: 0px;
}
footer button{
  height: 40px;
  padding: 0 13px;
  font-size: 18px;
  font-weight: 400;
  cursor: pointer;
  border: none;
  outline: none;
  color: #fff;
  border-radius: 5px;
  background: #007bff;
  border: 1px solid #007bff;
  line-height: 10px;
  opacity: 0;
  pointer-events: none;
  transform: scale(0.95);
  transition: all 0.3s ease;
}
footer button:hover{
  background: #0263ca;
}
footer button.show{
  opacity: 1;
  pointer-events: auto;
  transform: scale(1);
}
.result_box{
  background: #fff;
  border-radius: 5px;
  display: flex;
  padding: 25px 30px;
  width: 450px;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  transform: translate(-50%, -50%) scale(0.9);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s ease;
}
.result_box .icon{
  font-size: 100px;
  color: #007bff;
  margin-bottom: 10px;
}
.result_box .complete_text{
  font-size: 20px;
  font-weight: 500;
}
.result_box .score_text span{
  display: flex;
  margin: 10px 0;
  font-size: 18px;
  font-weight: 500;
}
.result_box .score_text span p{
  padding: 0 4px;
  font-weight: 600;
}
.result_box .buttons{
  display: flex;
  margin: 20px 0;
}
.result_box .buttons button{
  margin: 0 10px;
  height: 45px;
  padding: 0 20px;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  border: none;
  outline: none;
  border-radius: 5px;
  border: 1px solid #007bff;
  transition: all 0.3s ease;
}
.buttons button.restart{
  color: #fff;
  background: #007bff;
}
.buttons button.restart:hover{
  background: #0263ca;
}
.buttons button.quit{
  color: #007bff;
  background: #fff;
}
.buttons button.quit:hover{
  color: #fff;
  background: #007bff;
}

.score_text p{
  margin-top: 0px;
}
.total_que p{
  margin-top: 0px;
}








